# replit files
*repl*
.ccls-cache/

# C executables and object files
a.out
*.o

# personal compilation tools
*.sh # makefile alternative
Makefile

# example files to work with
src/*.buml
src/*.html # for when a.out converts a BuML file into HTML
